/*body {
	background-color: black;
}*/

div {
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 50%;
	
}

#searchbox {
	display: block;
	position: absolute;
	margin: auto;
	width: 50%;
}