/*body {
	background-color: black;
}*/

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	width: 19%;
}

header {
	display: inline;
	font-family: "Segoe UI", "Roboto", "Arial", "san-serif";
	

}

#searchbox {


}